@media (max-width:37.45em){
    .form-data{
        text-align: center;
        width:100% !important;
        input{
            width:60% !important;
        }
    }
}
::placeholder{
    color:black;
    font-size: .7rem;
}
.news-container{
    z-index:-10 !important;
    height:auto;
    max-height: 376vh;
    overflow-y: hidden;
    .news-card{
        z-index:-10 !important;
        height:20vh;
    }
    @media (max-width:62.5em){
        .news-card{
            height: 12vh;
        }
    }
    @media (max-width:37.4em){
        .news-card{
            height: 24vh;
            font-size: .7rem;
        }
    }
}